{% extends 'base.html' %}

{% block title %}
ShodmonX | Login
{% endblock title %}

{% block content %}

<h1>Login...</h1>
<br>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <!-- Username -->
        <div class="mb-3">
            {{ form.username.label_tag }}
            <input 
                type="{{ form.username.field.widget.input_type }}" 
                name="{{ form.username.html_name }}" 
                id="{{ form.username.id_for_label }}" 
                class="form-control" 
                placeholder="Enter your username" 
                maxlength="{{ form.username.field.max_length }}" 
                required>
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <!-- Password -->
        <div class="mb-3">
            {{ form.password.label_tag }}
            <input 
                type="{{ form.password.field.widget.input_type }}" 
                name="{{ form.password.html_name }}" 
                id="{{ form.password.id_for_label }}" 
                class="form-control" 
                placeholder="Enter your username" 
                required>
            {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
       
</div>

{% endblock content %}